{% extends 'base.html' %}
{% load static %}
{% block style %}<link rel="stylesheet" href="{% static 'forestforlife/css/d_success.css'%}">{% endblock %}
{% block content %}
{% include 'includes/navbar.html' %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-6">Thank you for your donation</h1>
            <p class="lead">Your donation helps us support amazing charities that strive to end deforestation.</p>
        </div>
    </div>

    <br>

    <img class="image" src="{% static 'forestforlife/img/plant_tree.jpg' %}" alt="Planted Tree">

    <br>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="lead">Don't leave your friends behind</h1>
            <h3 class="display-5">Invite friends and spread the word</h3>
            <br>
            <a href="https://twitter.com/ForestForLife2?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @ForestForLife2</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.facebook.com%2Fprofile.php%3Fid%3D100076324600321&layout=button&size=large&width=77&height=28&appId" width="77" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share; fullscreen"></iframe>
        </div>
    </div>

{% endblock %}