{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
{% include 'includes/navbar.html' %}

    <br>

    <div class="container">
        <h1 class="display-6 font-weight-bold">Contact Us</h1>
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="form-actions">
                <button class="btn btn-success mt-2" type="submit">Send</button>
            </div>
        </form>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>

{% endblock %}