{% extends 'base.html' %}

{% load static %}
{% block style %}<link rel="stylesheet" href="{% static 'forestforlife/css/success.css'%}">{% endblock %}
{% block content %}
{% include 'includes/navbar.html' %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-6">Thank you for your message</h1>
            <p class="lead">We appreciate all the feedback and support we get from the community </p>
        </div>
    </div>

    <br>
    <img class = "image" src="{% static 'forestforlife/img/growing_tree.png' %}" alt="Growing tree">

    <br>


    <div class="col-2 mx-auto">
        <div class="row">
            <div class="col" style="text-align: center">Message us again</div>
            <div class="col" style="text-align: center">Return to the home page</div>
        </div>

        <div class="row" >
            <div class="col"><a class="btn btn-success" style="height: 60px" style="text-align: center"
                                href="{% url 'support:contact' %}">Contact us</a></div>
            <div class="col"><a class="btn btn-success" style="height: 60px" style="text-align: center"
                                href="{% url 'home' %}">Home page</a></div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>

{% endblock %}