{% extends 'base.html' %}

{% block content %}
{% load static %}

    <div class="container py-5">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 pb-4">
                <h4 class="display-4 font-weight-bold">Our Mission</h4>
                <h5 class="font-weight-bold"> Helping restore the planet back to its natural beauty.</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae delectus dolorem illo laudantium
                    quaerat quo tempora. Asperiores, cum debitis eaque error, excepturi fugit ipsam, pariatur quae
                    reprehenderit sint tempora voluptatibus.</p>
                <p>Atque, dicta non odio perferendis placeat porro reiciendis reprehenderit, rerum sunt tempore vitae
                    voluptatibus? Architecto blanditiis officiis possimus quidem saepe. Deserunt eaque eius in
                    necessitatibus obcaecati totam ullam, voluptas. Accusamus!</p>
                <p>Amet corporis culpa dignissimos eius laborum necessitatibus non quaerat quibusdam reprehenderit
                    rerum. Dignissimos dolore ducimus eum illum necessitatibus nihil numquam odio optio, rerum?
                    Cupiditate fugit maxime placeat tempore! Impedit, labore!</p>
                <p>Adipisci commodi doloremque eos fugit id odit placeat saepe totam vero voluptatibus? Asperiores eius
                    error harum quam quasi tenetur. Ad amet delectus eos, illo nesciunt nulla odit repellendus ullam
                    voluptatum!</p>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <img class="img-fluid rounded" src="{% static 'forestforlife/img/forest.jpg' %}" alt="Forest">
            </div>
        </div>
    </div>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium architecto aspernatur ducimus, eius esse ex
        illo itaque labore maiores necessitatibus obcaecati odit optio quasi qui ratione, rerum sunt vitae,
        voluptatem?</p>
    <p>At cum deleniti dicta dolores ducimus eaque eligendi, esse ex iste laboriosam laborum maiores maxime minus nisi
        numquam officia perferendis perspiciatis porro possimus rem reprehenderit sint tempore tenetur vero
        voluptatem.</p>
    <p>Beatae excepturi harum id natus? Ad blanditiis deleniti dolore ducimus, et eveniet hic illum laborum
        necessitatibus non, odit optio porro quaerat quos reprehenderit. At earum fuga fugit perferendis provident
        quae!</p>
    <p>Aliquid cumque cupiditate explicabo, nam placeat quidem. Alias atque dignissimos dolorem eius, enim, error illum
        iste natus, omnis placeat porro quas repellendus tenetur vitae voluptate. A quia recusandae rem vero!</p>
    <p>Culpa error, est laboriosam maiores non placeat quam repellendus? At cum magni similique vitae. Adipisci
        consectetur excepturi facere fugiat iusto, laudantium nostrum provident quos repellendus sed sit tempora
        temporibus velit!</p>
    <p>Animi commodi eligendi fuga fugit ipsam necessitatibus soluta temporibus. A architecto corporis cupiditate
        distinctio, eaque eius est illo iure labore magni nam optio quod ratione sit sunt ullam veniam voluptas.</p>
    <p>Debitis eaque ipsa perferendis placeat tempora ullam vitae voluptas? Aliquid animi, at consequuntur dolorum
        eligendi fuga minus nisi odio, praesentium reiciendis sapiente sequi similique soluta vero voluptate! Possimus,
        quia, voluptas!</p>
    <p>Adipisci magni minus possimus quod reiciendis similique voluptatum. Assumenda consequuntur doloremque doloribus
        eligendi iste labore magni mollitia necessitatibus, nobis omnis. Beatae dolores ea id ipsum maxime nam ratione
        repellendus vero.</p>
    <p>Ab alias animi assumenda culpa, dicta dolor dolore, ducimus expedita facere incidunt ipsum iusto, maiores minus
        nam necessitatibus nemo nostrum quae quaerat quam quia quo sed sequi sit tempora vel.</p>
    <p>At autem ipsa ipsum porro quia, quisquam recusandae reiciendis similique suscipit ut? Alias asperiores beatae
        consequatur, doloremque dolores doloribus eos facere inventore, libero magnam, mollitia odio officiis sed sequi
        veniam!</p>

{% endblock %}