{% extends 'base.html' %}
{% load static %}
{% block style %}<link rel="stylesheet" href="{% static 'forestforlife/css/about.css' %}">{% endblock %}

{% block content %}
{% include 'includes/navbar.html' %}


    <div class="container py-5">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 pb-4">
                <h4 class="display-4 font-weight-bold">Our Mission</h4>
                <h5 class="font-weight-bold"> Helping restore the planet back to its natural beauty.</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae delectus dolorem illo laudantium
                    quaerat quo tempora. Asperiores, cum debitis eaque error, excepturi fugit ipsam, pariatur quae
                    reprehenderit sint tempora voluptatibus.</p>
                <p>Atque, dicta non odio perferendis placeat porro reiciendis reprehenderit, rerum sunt tempore vitae
                    voluptatibus? Architecto blanditiis officiis possimus quidem saepe. Deserunt eaque eius in
                    necessitatibus obcaecati totam ullam, voluptas. Accusamus!</p>
                <p>Amet corporis culpa dignissimos eius laborum necessitatibus non quaerat quibusdam reprehenderit
                    rerum. Dignissimos dolore ducimus eum illum necessitatibus nihil numquam odio optio, rerum?
                    Cupiditate fugit maxime placeat tempore! Impedit, labore!</p>
                <p>Adipisci commodi doloremque eos fugit id odit placeat saepe totam vero voluptatibus? Asperiores eius
                    error harum quam quasi tenetur. Ad amet delectus eos, illo nesciunt nulla odit repellendus ullam
                    voluptatum!</p>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <img class="img-fluid rounded" src="{% static 'forestforlife/img/forest.jpg' %}" alt="Forest">
            </div>
        </div>

        <br>
        <br>

        <div class="container-fluid">
            <h4 class="text-center display-6 font-weight-bold">Meet the Team</h4>

            <br>

            <div id="MeetTeamCarouselCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#MeetTeamCarouselCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#MeetTeamCarouselCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#MeetTeamCarouselCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#MeetTeamCarouselCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#MeetTeamCarouselCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="9000">
                        <img src="{% static 'forestforlife/img/climate_change.jpg' %}" class="d-block img-fluid" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Ben Longcroft</h5>
                            <p><b>Project Lead. </b>Ensuring the project was managed correctly, with all deadlines met.</p>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="9000">
                        <img src="{% static 'forestforlife/img/climate_change.jpg' %}" class="d-block img-fluid" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Evita Saluckaite</h5>
                            <p><b>Design and UI. </b>Responsible for the design of the project, in both website and game.</p>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="9000">
                        <img src="{% static 'forestforlife/img/climate_change.jpg' %}" class="d-block img-fluid" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Nathan Dawson</h5>
                            <p><b>Server-Side Design and QA. </b>Ensuring the website is functioning and properly secure.</p>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="9000">
                        <img src="{% static 'forestforlife/img/climate_change.jpg' %}" class="d-block img-fluid" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Lua Mustatea</h5>
                            <p><b>Gameplay UX. </b>Responsible for the overall gameplay experience throughout.</p>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="9000">
                        <img src="{% static 'forestforlife/img/climate_change.jpg' %}" class="d-block img-fluid" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Alfie Taylor</h5>
                            <p><b>Data Management. </b>Ensuring smooth data transfer between website and game.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}