{% extends 'base.html' %}
{% load static %}
{% block style %}<link rel="stylesheet" href="{% static 'forestforlife/css/about.css' %}">{% endblock %}

{% block content %}
{% include 'includes/navbar.html' %}


    <div class="container py-5">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 pb-4">
                <h4 class="display-4 font-weight-bold">Our Mission</h4>
                <p></p>
                <h5 class="font-weight-bold"> Helping restore the planet back to its natural beauty.</h5>
                <p> We aim to do this through raising awareness of deforestation and by planting trees.</p>
                <p> The frequent and saddening appearances of the devastating consequences of climate change and
                    deforestation in the media motivated us to create a project that informs as many people as possible
                    about these issues and is accessible to all ages.</p>
                <p> We came up with the idea of a game where you plant your own trees to educate our younger audience
                    about how beneficial tree planting is, and how consequences like pollution and global warming can
                    get out of hand if we do nothing about it.</p>
                <p> We also created an explore page which is great for raising awareness about deforestation; you can
                    discover new articles and use them to help spread the word of how our way of life needs to change
                    if we want to save our planet.</p>
                <h6 class="display-5 font-weight-bold">How can you help us?</h6>
                <p></p>
                <p> Our vision can only be achieved through your support on this website; playing Sonny's Forest,
                    visiting articles in the explore page and directly donating to us in the donate page are all
                    fantastic ways to help our cause. All of your generous donations will go straight to our
                    tree-planting organisation partners such as The Woodland Trust and Tree Aid, so you can be sure
                    that your donation has made an impact.</p>

            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <img class="img-fluid rounded" src="{% static 'forestforlife/img/forest.jpg' %}" alt="Forest">
            </div>
        </div>

        <br>
        <br>

        <div class="MeetTheTeam container-fluid">
            <h4 class="text-center display-6 font-weight-bold">Meet the Team</h4>

            <br>

            <div id="MeetTeamCarouselCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#MeetTeamCarouselCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#MeetTeamCarouselCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#MeetTeamCarouselCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#MeetTeamCarouselCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#MeetTeamCarouselCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="9000">
                        <div class="overlay-imageB img-fluid"></div>
                        <div class="carousel-caption d-md-block">
                            <h5>Ben Longcroft</h5>
                            <p><b>Project Lead. </b>Ensuring the project was managed correctly, with all deadlines
                                met.</p>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="9000">
                        <div class="overlay-imageE img-fluid"></div>
                        <div class="carousel-caption d-md-block">
                            <h5>Evita Saluckaite</h5>
                            <p><b>Design and UI. </b>Responsible for the design of the project, in both website and
                                game.</p>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="9000">
                        <div class="overlay-imageN img-fluid"></div>
                        <div class="carousel-caption d-md-block">
                            <h5>Nathan Dawson</h5>
                            <p><b>Server-Side Design and QA. </b>Ensuring the website is functioning and properly
                                secure.</p>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="9000">
                        <div class="overlay-imageL img-fluid"></div>
                        <div class="carousel-caption d-md-block">
                            <h5>Lua Mustatea</h5>
                            <p><b>Gameplay UX. </b>Responsible for the overall gameplay experience throughout.</p>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="9000">
                        <div class="overlay-imageA img-fluid"></div>
                        <div class="carousel-caption d-md-block">
                            <h5>Alfie Taylor</h5>
                            <p><b>Data Management. </b>Ensuring smooth data transfer between website and game.</p>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#MeetTeamCarouselCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#MeetTeamCarouselCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}