<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Forrest For Life</title>
    <script src="https://kit.fontawesome.com/f5767d8d66.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'forestforlife/css/master.css'%}">

</head>
<body>

{#------------#}
{#---Navbar---#}
{#------------#}

    <nav class='navbar navbar-expand-lg navbar-light bg-light' role="navigation" id="navbar">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}"><img class="logo" src="{% static 'forestforlife/img/Tree_Logo.png' %}" alt="Forest For Life"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
            <div class="navbar-nav">
                {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'sonnygame' %}">Sonny's Game</a>
                    <a class="nav-link" href="{% url 'explore' %}">Explore</a>
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                    <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
                {% else %}
                    <a class="nav-link" href="{% url 'accounts:register' %}">Register</a>
                    <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
                    <a class="nav-link" href="{% url 'explore' %}">Explore</a>
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                {% endif %}
            </div>
            </div>
        </div>
    </nav>


{#------------#}
{#---Content--#}
{#------------#}

    <div class="container-mycontent">

        {% block content %}

        {% endblock %}

    </div>


{#------------#}
{#---Footer---#}
{#------------#}

<div class="footer">
    <div class="footer-content">

      <div class="footer-section about">
        <h1 class="logo-text"><span>Forest</span>For Life</h1>
        <p>
          ForestForLife is a project striving to inform the general public about the risks and concerns relating to
            climate change and deforestation. The project offers various types of informative sources, ranging from
            blogs, articles and even a game, catering to a wide audience.
        </p>

        <div class="socials">
          <p>Follow Us:</p>
          <a href="https://www.facebook.com/profile.php?id=100076324600321"><i class="fab fa-facebook"></i></a>
          <a href="https://www.instagram.com/forestforlife2033/"><i class="fab fa-instagram"></i></a>
          <a href="https://twitter.com/ForestForLife2"><i class="fab fa-twitter"></i></a>
        </div>
      </div>

      <div class="footer-section links">
        <h2>Quick Links</h2>
          <a class="nav-link" href="{% url 'about' %}">About ForestForLife</a>
          <a class="nav-link" href="{% url 'data_policy' %}">Data Retention Policy</a>
          <a class="nav-link" href="{% url 'privacy_policy' %}">Privacy Policy</a>
          <a class="nav-link" href="{% url 'terms_and_cond' %}">Terms and Conditions</a>
      </div>

      <div class="footer-section contact-form">
        <h2>Support</h2>
          <a class="nav-link" href="#">Donate Now</a>
          <a class="nav-link" href="{% url 'support:contact' %}">Contact Us</a>
      </div>

    </div>

    <div class="footer-bottom">
      &copy; Copyright Team 22 2021 | Newcastle University
    </div>
  </div>

</body>
</html>