<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {#---CSS---#}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Forest For Life</title>
    {#---Styling---#}
    {% block stripe %}{% endblock %}
    {% block js %}{% endblock%}
    <script src="https://kit.fontawesome.com/f5767d8d66.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'forestforlife/css/master.css'%}">
    {% block style %}{% endblock %}

</head>
<body>

{#------------#}
{#---Content--#}
{#------------#}

<div class="container-mycontent">

    {% block content %}

    {% endblock %}

</div>


{#------------#}
{#---Footer---#}
{#------------#}

<div class="footer">
    <div class="footer-content">

      <div class="footer-section about">
        <h1 class="logo-text"><span>Forest</span>For Life</h1>
        <p>
          ForestForLife is a project striving to inform the general public about the risks and concerns relating to
            climate change and deforestation. The project offers various types of informative sources, ranging from
            blogs, articles and even a game, catering to a wide audience.
        </p>

        <div class="socials">
          <p>Follow Us:</p>
          <a href="https://www.facebook.com/profile.php?id=100076324600321"><i class="fab fa-facebook"></i></a>
          <a href="https://www.instagram.com/forestforlife2033/"><i class="fab fa-instagram"></i></a>
          <a href="https://twitter.com/ForestForLife2"><i class="fab fa-twitter"></i></a>
        </div>
      </div>

      <div class="footer-section links">
        <h2>Quick Links</h2>
          <a class="nav-link" href="{% url 'about' %}">About ForestForLife</a>
          <a class="nav-link" href="{% url 'data_policy' %}">Data Retention Policy</a>
          <a class="nav-link" href="{% url 'privacy_policy' %}">Privacy Policy</a>
          <a class="nav-link" href="{% url 'terms_and_cond' %}">Terms and Conditions</a>
      </div>

      <div class="footer-section contact-form">
        <h2>Support</h2>
          <a class="nav-link" href="{% url 'support:donate' %}">Donate Now</a>
          <a class="nav-link" href="{% url 'support:contact' %}">Contact Us</a>
      </div>

    </div>

    <div class="footer-bottom">
      &copy; Copyright Team 22 2021 | Newcastle University
    </div>
  </div>

{#---Popper and JavaScript---#}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

</body>
</html>