{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="display-5 font-weight-bold">Data Retention Policy</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, architecto at consequatur deleniti earum esse
            eveniet ex id, iste maiores, nostrum officiis quam repellat sequi voluptate. Consequuntur esse officia
            quisquam?</p>
        <p>At consequatur doloribus eum fugit harum id impedit iste minima minus nam necessitatibus non nulla officiis, rem
            saepe, tempore vel vitae voluptate? A adipisci aliquid consequuntur doloremque et ullam voluptatem.</p>
        <p>Animi commodi consequatur eligendi enim magnam nam nulla odio odit quia voluptatibus? Alias aperiam beatae
            cupiditate iusto minima natus, nemo nihil optio possimus voluptatibus? Cumque earum eos iste modi
            praesentium.</p>
        <p>Accusamus consectetur cumque dolor exercitationem magni quia repellat soluta tempora, unde. At distinctio ea eos
            impedit neque numquam quis similique vitae. Beatae deserunt eaque eum facere id ipsum nam nesciunt?</p>
        <p>Amet animi commodi dolore facilis illum sapiente totam. Adipisci aut doloremque fugiat maiores maxime, nisi
            praesentium sed sequi tempora veniam. Animi consequatur eaque nulla sit voluptate! Laudantium natus nesciunt
            omnis.</p>
        <p>Architecto delectus nisi quidem! A, cupiditate delectus eligendi impedit, neque nostrum, placeat quasi reiciendis
            sapiente tempore voluptas voluptatibus! Ad aperiam dolor, ipsa odio odit quia vero. Ea ipsam iure modi!</p>
        <p>Accusamus, accusantium, adipisci amet asperiores cumque distinctio error facilis harum hic in, magni maiores odit
            officiis perferendis quae rem repellat temporibus totam veniam voluptatum! Amet dignissimos ipsa iste mollitia
            similique!</p>
        <p>Accusantium aliquid cum deleniti dicta eius enim excepturi expedita hic ipsa ipsam ipsum neque nihil nostrum
            perferendis praesentium quisquam quod repellendus sint soluta sunt temporibus totam, ullam voluptatum.
            Doloribus, suscipit.</p>
        <p>Ab aliquid blanditiis culpa cum doloremque, dolorum ea enim est illo illum iure iusto, magnam minima mollitia nam
            natus nemo, nostrum optio placeat possimus quas quis repudiandae sit tempora ut!</p>
        <p>Aliquid atque consectetur cum debitis dicta ea eligendi fugit hic, mollitia nobis porro, quaerat quia repellendus
            saepe unde voluptatem voluptates? Animi assumenda ea eos eum iure minima quam qui, similique!</p>
    </div>
{% endblock %}