{% extends 'base.html' %}

{% block content %}
{% include 'includes/navbar.html' %}

    <br>

    <div class="container">
        <h1 class="display-5 font-weight-bold text-center">Data Retention Policy</h1>

        <br>

        <div class="data-content" style="padding: 0 15% 0 15%">
            <p>The aim of this policy is to enable Forest For Life to manage records accordingly and in compliance with
                the General Data Protection Regulation (GDPR) and other related regulations. The policy outlines a
                framework in regards to the retention and disposal of varying different personal data. Forest For Life
                is committed to handling all data to the highest standards, ensuring compliance with GDPR.</p>

            <p>Forest For Life will store your personal data in accordance with our <a href="/privacy_policy">privacy
                policy</a> and to ensure proper data processing. The total time in which we store your data is
                dependent on the type of data and its relation to Forest For Life.</p>

            <p>If you are solely a user of the website, including associated products (Sonny's Forest), and have never
                made a donation to Forest For Life, we will retain your personal data until you either notify us that
                you no longer wish for us to do so or for no longer than 12 months following your failure to respond to
                our communications.</p>

            <p>If you have made a donation, we will retain your personal data for 3 years from the date of your last
                transaction for purposes relating to recording your donation, financial obligations (tax and auditing)
                and statistical analyses and reporting. After this time, your personal data will be deleted.</p>

            <br>

            <p>If you have a reason to believe that any of your personal information retained by Forest For Life is
                inaccurate, please contact us with your requested change.</p>

            <a href="/support/contact" class="btn btn-success">Contact us</a>

            <br>
            <br>

            <p>Last updated on <u>16</u><sup>th</sup><u> January 2022</u></p>
        </div>
    </div>

{% endblock %}