{% extends "base.html" %}

{% block content %}

    <h1>Explore Page</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum debitis enim molestiae mollitia quaerat sit unde.
        Accusantium aperiam deleniti doloremque eaque enim eos id ipsa non unde voluptas voluptatem, voluptatum?</p>
    <p>Aliquam, natus reprehenderit. Accusamus asperiores assumenda, corporis, dicta dolor dolorem eaque earum eius enim
        fugit hic ipsa labore magni mollitia nam quidem quod quos saepe, sequi ullam. Eligendi, rem vitae!</p>
    <p>Asperiores consectetur corporis et explicabo fugiat inventore ipsa itaque laborum nemo nisi, non quam, quas quia
        quod repellendus sapiente ut. Alias dicta doloribus incidunt laudantium obcaecati perspiciatis, quam quia
        suscipit!</p>
    <p>Eos ipsam laborum, laudantium modi quia rem tempore tenetur! Aspernatur culpa illum, itaque minus mollitia, nisi
        optio possimus, qui recusandae repudiandae ut vel voluptas voluptate? Aspernatur labore laudantium optio
        velit!</p>
    <p>Animi consectetur enim eos ex nesciunt odit, officia repellat repellendus ullam velit? Aliquam autem et ex fugit
        impedit molestiae nostrum optio sint sunt tempora. Animi autem consequatur enim rerum voluptas.</p>
    <p>Animi aperiam ipsam iure magnam, molestias mollitia non ratione repellendus velit voluptatum. Delectus
        dignissimos dolores ea molestias nobis omnis porro sapiente, veritatis. Accusantium alias consectetur illo
        laudantium quia repellat voluptatum.</p>
    <p>Eaque optio porro sunt? Ad architecto asperiores autem blanditiis culpa dignissimos distinctio doloribus,
        excepturi facilis hic mollitia neque perferendis perspiciatis placeat quam qui quibusdam ratione repellendus
        rerum, soluta veritatis voluptate?</p>
    <p>Earum, id illo maiores neque praesentium quae quisquam reprehenderit sed vel voluptatibus! Adipisci atque aut
        deleniti ducimus, est eveniet nemo praesentium veniam vitae! Consequuntur incidunt, natus non quae qui
        voluptate.</p>
    <p>Ab accusamus asperiores ex id laboriosam magnam minima perspiciatis. Atque beatae cupiditate eius, esse labore
        laudantium mollitia nam porro reiciendis voluptates. Ad dignissimos hic mollitia perferendis quia quis saepe
        totam!</p>
    <p>Earum inventore nulla rem. Alias at dicta distinctio doloremque eos esse expedita fuga in ipsam iure libero
        maxime minus necessitatibus non nostrum numquam omnis pariatur, perspiciatis placeat sapiente tenetur
        voluptas.</p>

{% endblock %}