{% extends "base.html" %}
{% load static %}
{% block content %}
{% include 'includes/navbar.html' %}

    <br>
    <div class="container">
        <h1 class="display-6 font-weight-bold">Recent articles</h1>

        <br>

        <div class="d-flex fLex-row fLex-nowrap overflow-auto">
            <div class="col-4">
                <div class="card card-block mx-2">
                    <img class="card-img-top" src="{% static 'forestforlife/img/climate_change.jpg' %}" alt="Climate Change">
                    <div class="card-body">
                        <h5 class="card-title">Climate Change</h5>
                        <p class="card-text">An article reporting on recent climate change concerns, analysing data.</p>
                        <a href="https://www.ipcc.ch/2021/08/09/ar6-wg1-20210809-pr/" class="btn btn-primary">Article</a>
                    </div>
                <div class="card-footer text-muted">
                    8 hours ago
                </div>
                </div>
            </div>
        <div class="col-4">
            <div class="card card-block mx-2">
                <img class="card-img-top" src="{% static 'forestforlife/img/deforestation2.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Deforestation</h5>
                    <p class="card-text">An article on the rapid increase of deforestation within 2021.</p>
                    <a href="https://edition.cnn.com/2021/11/18/world/deforestation-increase-amazon-report-climate/index.html" class="btn btn-primary">Article</a>
                </div>
                <div class="card-footer text-muted">
                    22 days ago
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card card-block mx-2">
                <img class="card-img-top" src="{% static 'forestforlife/img/deforestation3.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Deforestation</h5>
                    <p class="card-text">An article discussing why stopping deforestation should be a top-priority.</p>
                    <a href="https://www.greenbiz.com/article/fighting-deforestation-should-be-top-priority-2021-and-heres-how-it-can-be" class="btn btn-primary">Article</a>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card card-block mx-2">
                <img class="card-img-top" src="{% static 'forestforlife/img/deforestation.webp' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Deforestation</h5>
                    <p class="card-text">A news article stating a promise to end deforestation by 2030.</p>
                    <a href="https://www.bbc.co.uk/news/science-environment-59088498" class="btn btn-primary">Article</a>
                </div>
                <div class="card-footer text-muted">
                    8 days ago
                </div>
            </div>
        </div>
    </div>

        <br>

    <p>Aliquam, natus reprehenderit. Accusamus asperiores assumenda, corporis, dicta dolor dolorem eaque earum eius enim
        fugit hic ipsa labore magni mollitia nam quidem quod quos saepe, sequi ullam. Eligendi, rem vitae!</p>
    <p>Asperiores consectetur corporis et explicabo fugiat inventore ipsa itaque laborum nemo nisi, non quam, quas quia
        quod repellendus sapiente ut. Alias dicta doloribus incidunt laudantium obcaecati perspiciatis, quam quia
        suscipit!</p>
    <p>Eos ipsam laborum, laudantium modi quia rem tempore tenetur! Aspernatur culpa illum, itaque minus mollitia, nisi
        optio possimus, qui recusandae repudiandae ut vel voluptas voluptate? Aspernatur labore laudantium optio
        velit!</p>
    <p>Animi consectetur enim eos ex nesciunt odit, officia repellat repellendus ullam velit? Aliquam autem et ex fugit
        impedit molestiae nostrum optio sint sunt tempora. Animi autem consequatur enim rerum voluptas.</p>
    <p>Animi aperiam ipsam iure magnam, molestias mollitia non ratione repellendus velit voluptatum. Delectus
        dignissimos dolores ea molestias nobis omnis porro sapiente, veritatis. Accusantium alias consectetur illo
        laudantium quia repellat voluptatum.</p>
    <p>Eaque optio porro sunt? Ad architecto asperiores autem blanditiis culpa dignissimos distinctio doloribus,
        excepturi facilis hic mollitia neque perferendis perspiciatis placeat quam qui quibusdam ratione repellendus
        rerum, soluta veritatis voluptate?</p>
    <p>Earum, id illo maiores neque praesentium quae quisquam reprehenderit sed vel voluptatibus! Adipisci atque aut
        deleniti ducimus, est eveniet nemo praesentium veniam vitae! Consequuntur incidunt, natus non quae qui
        voluptate.</p>
    <p>Ab accusamus asperiores ex id laboriosam magnam minima perspiciatis. Atque beatae cupiditate eius, esse labore
        laudantium mollitia nam porro reiciendis voluptates. Ad dignissimos hic mollitia perferendis quia quis saepe
        totam!</p>
    <p>Earum inventore nulla rem. Alias at dicta distinctio doloremque eos esse expedita fuga in ipsam iure libero
        maxime minus necessitatibus non nostrum numquam omnis pariatur, perspiciatis placeat sapiente tenetur
        voluptas.</p>
    </div>

{% endblock %}