{% extends "base.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'forestforlife/css/index.css' %}">
{% endblock %}

{% block content %}
    <section class="intro">
        <div class="inner">
            <div class="content">
                <h1>Forest For life</h1>
                <p>Reversing deforestation is complicated; planting trees is simple</p>
                <a class="btn" href="/explore">Make a Difference</a>
            </div>
        </div>
    </section>

    <br>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet eaque eligendi enim harum hic impedit ipsum,
        iusto maiores minima mollitia necessitatibus nostrum numquam pariatur quidem, quo repellendus veniam
        veritatis! Asperiores atque, blanditiis cum dignissimos dolores, ducimus eligendi enim eos error esse expedita fugiat harum
        id illum incidunt inventore, iure nesciunt nostrum odio perferendis placeat quisquam repellat sint sit
        voluptate.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet eaque eligendi enim harum hic impedit ipsum,
        iusto maiores minima mollitia necessitatibus nostrum numquam pariatur quidem, quo repellendus veniam
        veritatis! Asperiores atque, blanditiis cum dignissimos dolores, ducimus eligendi enim eos error esse expedita fugiat harum
        id illum incidunt inventore, iure nesciunt nostrum odio perferendis placeat quisquam repellat sint sit
        voluptate.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet eaque eligendi enim harum hic impedit ipsum,
        iusto maiores minima mollitia necessitatibus nostrum numquam pariatur quidem, quo repellendus veniam
        veritatis! Asperiores atque, blanditiis cum dignissimos dolores, ducimus eligendi enim eos error esse expedita fugiat harum
        id illum incidunt inventore, iure nesciunt nostrum odio perferendis placeat quisquam repellat sint sit
        voluptate.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet eaque eligendi enim harum hic impedit ipsum,
        iusto maiores minima mollitia necessitatibus nostrum numquam pariatur quidem, quo repellendus veniam
        veritatis! Asperiores atque, blanditiis cum dignissimos dolores, ducimus eligendi enim eos error esse expedita fugiat harum
        id illum incidunt inventore, iure nesciunt nostrum odio perferendis placeat quisquam repellat sint sit
        voluptate.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet eaque eligendi enim harum hic impedit ipsum,
        iusto maiores minima mollitia necessitatibus nostrum numquam pariatur quidem, quo repellendus veniam
        veritatis! Asperiores atque, blanditiis cum dignissimos dolores, ducimus eligendi enim eos error esse expedita fugiat harum
        id illum incidunt inventore, iure nesciunt nostrum odio perferendis placeat quisquam repellat sint sit
        voluptate.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet eaque eligendi enim harum hic impedit ipsum,
        iusto maiores minima mollitia necessitatibus nostrum numquam pariatur quidem, quo repellendus veniam
        veritatis! Asperiores atque, blanditiis cum dignissimos dolores, ducimus eligendi enim eos error esse expedita fugiat harum
        id illum incidunt inventore, iure nesciunt nostrum odio perferendis placeat quisquam repellat sint sit
        voluptate.</p>

{% endblock %}