{% extends "base.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'forestforlife/css/index.css' %}">
{% endblock %}

{% block content %}

    <section class="intro">

        <nav class='navbar navbar-expand-sm mt-3' id="navbar">
            <div class="container-fluid"><h3>Forest For Life</h3>
                <button class="navbar-toggler navbar-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% if user.is_authenticated %}
                            <a class="nav-link" href="{% url 'sonnygame' %}">Sonny's Game</a>
                            <a class="nav-link" href="{% url 'explore' %}">Explore</a>
                            <a class="nav-link" href="{% url 'about' %}">About</a>
                            <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
                        {% else %}
                            <a class="nav-link" href="{% url 'accounts:register' %}">Register</a>
                            <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
                            <a class="nav-link" href="{% url 'explore' %}">Explore</a>
                            <a class="nav-link" href="{% url 'about' %}">About</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>

        <div class="inner">
            <div class="content">
                <h1>Forest For Life</h1>
                <figure class="text-center">
                    <blockquote class="blockquote">
                        <p>Reversing deforestation is complicated; planting trees is simple</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                         Martin O'Malley <cite title="https://www.huffpost.com/entry/reversing-deforestation-i_b_1465102"></cite>
                    </figcaption>
                </figure>
                <a class="btn" href="/explore">Make a Difference</a>
            </div>
        </div>
    </section>

    <br>

    <div class="card-nav container">
        <div class="row row-cols-1 row-cols-lg-3 g-4">
            <div class="col">
                <div class="card text-center">
                    <img src="{% static 'forestforlife/img/forest.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Sonny's Forest</h5>
                        <p class="card-text">Become immersed in our tree planting game. Help us fight deforestation and stop pollution.</p>
                        <a href="/sonnygame" class="btn btn-primary">Play</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                    <img src="{% static 'forestforlife/img/explore_hp.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Articles</h5>
                        <p class="card-text">Find out about all the recent news and statistics revolving around deforestation.</p>
                        <a href="/explore" class="btn btn-primary">Discover</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                    <img src="{% static 'forestforlife/img/growing_tree.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Donate Today</h5>
                        <p class="card-text">Help support us in our goal of restoring the planet back to its natural beauty.</p>
                        <a href="/support/donate" class="btn btn-primary">Donate</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet eaque eligendi enim harum hic impedit ipsum,
        iusto maiores minima mollitia necessitatibus nostrum numquam pariatur quidem, quo repellendus veniam
        veritatis! Asperiores atque, blanditiis cum dignissimos dolores, ducimus eligendi enim eos error esse expedita fugiat harum
        id illum incidunt inventore, iure nesciunt nostrum odio perferendis placeat quisquam repellat sint sit
        voluptate.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet eaque eligendi enim harum hic impedit ipsum,
        iusto maiores minima mollitia necessitatibus nostrum numquam pariatur quidem, quo repellendus veniam
        veritatis! Asperiores atque, blanditiis cum dignissimos dolores, ducimus eligendi enim eos error esse expedita fugiat harum
        id illum incidunt inventore, iure nesciunt nostrum odio perferendis placeat quisquam repellat sint sit
        voluptate.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet eaque eligendi enim harum hic impedit ipsum,
        iusto maiores minima mollitia necessitatibus nostrum numquam pariatur quidem, quo repellendus veniam
        veritatis! Asperiores atque, blanditiis cum dignissimos dolores, ducimus eligendi enim eos error esse expedita fugiat harum
        id illum incidunt inventore, iure nesciunt nostrum odio perferendis placeat quisquam repellat sint sit
        voluptate.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet eaque eligendi enim harum hic impedit ipsum,
        iusto maiores minima mollitia necessitatibus nostrum numquam pariatur quidem, quo repellendus veniam
        veritatis! Asperiores atque, blanditiis cum dignissimos dolores, ducimus eligendi enim eos error esse expedita fugiat harum
        id illum incidunt inventore, iure nesciunt nostrum odio perferendis placeat quisquam repellat sint sit
        voluptate.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet eaque eligendi enim harum hic impedit ipsum,
        iusto maiores minima mollitia necessitatibus nostrum numquam pariatur quidem, quo repellendus veniam
        veritatis! Asperiores atque, blanditiis cum dignissimos dolores, ducimus eligendi enim eos error esse expedita fugiat harum
        id illum incidunt inventore, iure nesciunt nostrum odio perferendis placeat quisquam repellat sint sit
        voluptate.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet eaque eligendi enim harum hic impedit ipsum,
        iusto maiores minima mollitia necessitatibus nostrum numquam pariatur quidem, quo repellendus veniam
        veritatis! Asperiores atque, blanditiis cum dignissimos dolores, ducimus eligendi enim eos error esse expedita fugiat harum
        id illum incidunt inventore, iure nesciunt nostrum odio perferendis placeat quisquam repellat sint sit
        voluptate.</p>

{% endblock %}