{% extends 'base.html' %}

{% block content %}
    <h1>Privacy Policy</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus blanditiis excepturi harum iste rerum ut
        voluptate voluptatibus! Consectetur cum doloremque eos fuga iure nemo pariatur possimus quisquam ut. Eligendi,
        tempore?</p>
    <p>Amet deleniti eaque exercitationem fuga itaque molestias, obcaecati praesentium sint tenetur veniam veritatis
        voluptates? Ad assumenda aut, blanditiis delectus dicta, dolores eius et hic incidunt itaque minus optio quos
        velit.</p>
    <p>Ab assumenda consectetur doloremque ducimus, ea id labore qui rem totam unde velit voluptatum? Amet blanditiis
        cumque laboriosam molestiae molestias quia vel. Autem cumque impedit iste quaerat rerum tempora, voluptatum.</p>
    <p>Facilis, incidunt nemo obcaecati porro quis sapiente voluptas? Adipisci amet architecto aut corporis distinctio
        dolor eligendi, eveniet facere in, ipsam molestiae nam officiis rerum sed sit tenetur voluptates. Amet,
        maiores.</p>
    <p>Dignissimos illo minus nostrum quam reiciendis! Animi assumenda corporis exercitationem, fugiat nulla omnis rem
        vero. Accusamus aspernatur dignissimos exercitationem quasi quo vel? Accusantium aspernatur aut ex facilis,
        illum magnam modi.</p>
    <p>Fugit natus omnis perspiciatis qui temporibus. Accusantium amet culpa, cum id officia porro! Accusamus cum
        dolorem dolores eius eligendi excepturi, illum, impedit natus, nulla odio possimus quas recusandae velit
        veritatis!</p>
    <p>Adipisci beatae deserunt dignissimos ducimus eligendi eos illo iusto laborum nobis, perferendis quasi quis
        quisquam repudiandae saepe sed. Adipisci animi at enim excepturi ipsum officia quibusdam quis quisquam rem
        ut!</p>
    <p>Assumenda cumque ea laboriosam quasi voluptas. Atque, cum cupiditate dicta dolor, ea ex harum iure minima,
        placeat praesentium quaerat quam quas quibusdam quis quos saepe similique sit temporibus ut vero.</p>
    <p>Accusamus aliquam amet architecto deserunt dolor, dolorum ea eligendi illum inventore laboriosam maiores nobis
        nostrum officiis quae quod rerum tempora veniam. Accusantium aut, cum dolor molestiae nam perferendis
        repellendus voluptate?</p>
    <p>Ad commodi esse eum fuga harum, impedit nemo quaerat repudiandae? Aliquam assumenda, at autem consectetur
        doloribus eaque expedita harum id, ipsa magni modi officiis omnis quasi sed sit soluta suscipit.</p>

{% endblock %}