{% extends 'base.html' %}

{% block content %}
{% include 'includes/navbar.html' %}

    <br>

    <div style="text-align: center" class="container">
        <h1 class="display-4 font-weight-bold">Sonny's Forest</h1>

        <br>

        <div class="accordion" id="sonny_info">
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-1">
                    <button style="display: inline; width: 100%; text-align: center" class="accordion-button"
                            type="button" data-bs-toggle="collapse" data-bs-target="#sonny-1"
                            aria-expanded="true" aria-controls="sonny-1">Sonny's Forest - Backstory
                    </button>
                </h2>
                <div id="sonny-1" class="accordion-collapse collapse" aria-labelledby="heading-1"
                     data-bs-parent="#sonny-info">
                    <div class="accoridon-body">

                        <br>

                        <p>Sonny is a tree hugging, environment loving, environmentalist on a mission to save the world.
                            10 years in the future, with temperatures constantly rising - Sonny makes a promise to take
                            down ENUS Corp.
                        </p>
                        <p>ENUS Corp, the evil trillion-dollar company have set up a factory on the outskirts of
                            Sonny’s Forest. Sonny is very angry about this and about the ecological harm it has done to
                            the environment. He decides that action is necessary to save the forest from pollution and
                            begins to replant.</p>
                        <p>Sonny wanders around his forest maintaining the trees. He is trying to maximise the clean
                            air available by planting trees that are efficient at filtering pollution.</p>
                        <p>Every tree has a risk of not reaching its full state. Trees may get chopped down by henchmen
                            looking to expand the factorys range.</p>

                        <br>

                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-2">
                    <button
                            style="display: inline; width: 100%; text-align: center" class="accordion-button"
                            type="button" data-bs-toggle="collapse" data-bs-target="#sonny-2"
                            aria-expanded="true" aria-controls="sonny-2">Sonny's Forest - Tutorial
                    </button>
                </h2>
                <div id="sonny-2" class="accordion-collapse collapse" aria-labelledby="heading-2"
                     data-bs-parent="#sonny-info">
                    <div class="accoridon-body">

                        <br>

                        <p style="margin: 0;"><strong>Movement</strong></p>
                        <p>To move Sonny, use the Arrows keys.</p>

                        <p style="margin: 0;"><strong>Inventory/Loadout</strong></p>
                        <p>To change your current inventory/loadout, press tab</p>

                        <p style="margin: 0;"><strong>Trees</strong></p>
                        <p>To plant a tree press 'P' next to the plot you would like to plant in.</p>
                        <p>Pressing 'C' while next to a plot will cut down all dead trees in that plot.</p>
                        <p>Trees when they reach their adult state (Tree or Ancient) will drop several seeds
                            (determined by a range in the trees properties). These will be added to Sonny's
                            inventory/loadout. They can also be exchanged into coins to buy fields and fertiliser
                            in the shop.</p>

                        <p style="margin: 0;"><strong>Pollution</strong></p>
                        <p>Make sure your pollution never reaches 100% or Sonny will die. As the pollution rises,
                            Sonny's cough will become worse and worse.</p>
                        <p>If pollution reaches 0%, Sonny's promise is complete. Well done - you have made Sonny a
                            hero.</p>

                        <br>

                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>

        <div class="ratio ratio-16x9">
            <iframe class="embed-responsive-item" src="https://i.simmer.io/@Team_22/sonny-sforest"  allowfullscreen></iframe>
        </div>
    </div>

    <br>

{% endblock %}