{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <h1 class="display-4 font-weight-bold">Sonny's Game</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at consequuntur cum delectus doloribus eos esse
            fugiat illum, in inventore laborum mollitia neque optio quam quas quibusdam, suscipit temporibus
            voluptates.</p>
        <p>Ab accusantium architecto consectetur consequuntur dicta distinctio dolorum ea eveniet facere ipsa labore
            magnam maxime minima modi mollitia nihil nobis odio quae repellat repellendus reprehenderit repudiandae,
            sunt voluptas voluptate voluptatum?</p>
        <p>Asperiores cum doloremque, dolorum facere fugiat maxime numquam omnis porro soluta voluptatum! Commodi enim
            eos, illum ipsam laborum pariatur sapiente sed ullam! Accusantium aspernatur corporis nemo nihil officia
            pariatur, veritatis!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi dignissimos eaque labore odio porro, rerum
            soluta voluptatem. Asperiores commodi, dignissimos illum ipsum itaque modi non pariatur perspiciatis
            quibusdam quo rem!</p>
        <p>Animi consequuntur cum cupiditate iure necessitatibus nihil, nisi nulla voluptate. Deserunt enim eos eveniet
            labore laudantium modi quasi qui quia rem repellendus, saepe voluptatibus! Cum facilis nobis odit quam
            repudiandae?</p>

        <iframe src="https://i.simmer.io/@Thirty/sonny-s-game" style="width:960px;height:600px"></iframe>
    </div>

    <br>

{% endblock %}