{% extends 'base.html' %}

{% block content %}
    <h1>Terms and Conditions</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid debitis dicta dolores eaque error, est
        excepturi impedit inventore maiores non optio placeat quibusdam quo unde voluptas voluptatum. Fugit, minus.</p>
    <p>Asperiores consectetur cumque eos, impedit incidunt iure laboriosam maiores molestias quam quidem. Aliquam
        aperiam commodi, consequuntur enim, est explicabo illo laudantium minima neque nesciunt nisi quia quisquam quos
        temporibus voluptatibus?</p>
    <p>Accusamus dignissimos sapiente ullam vel. Atque blanditiis doloribus est eum exercitationem fugiat harum, ipsa
        laboriosam magnam minus nulla odit sit tempore vero voluptas voluptatem voluptatibus. Nostrum odit omnis quaerat
        quibusdam.</p>
    <p>Amet consequatur cum delectus earum eius ex facere illo illum in inventore iure labore laborum magnam molestiae,
        molestias neque nobis officia officiis porro possimus praesentium provident quam quas quia sint?</p>
    <p>Atque laudantium nulla provident quae quisquam repellat. A accusantium aliquam commodi deleniti eaque enim,
        facilis fuga ipsam iste laudantium magnam natus nobis numquam perspiciatis quae quos recusandae repellendus,
        tempora temporibus?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consequatur deleniti deserunt dicta,
        doloribus dolorum eligendi est itaque labore nam nemo nostrum pariatur, porro praesentium quas, sed suscipit
        tempore voluptates!</p>
    <p>Asperiores consequatur delectus maxime optio repellendus soluta tenetur. At aut dolores mollitia neque nostrum
        qui, quidem quo repellat voluptatibus. Cumque id ipsa nulla porro quo! Adipisci asperiores id obcaecati
        totam?</p>
    <p>A deserunt, inventore quibusdam rerum suscipit voluptatum. Commodi dignissimos distinctio doloremque, facere,
        facilis laudantium minus nostrum odio odit quae quibusdam quidem quod repudiandae tempora veniam? Ab dolor in
        nobis reprehenderit.</p>
    <p>Aperiam aut blanditiis, culpa cum cumque dolor ex excepturi fugit illum, in libero minima molestias qui ratione
        sed similique sunt totam unde, veniam voluptatem! Aliquam esse ipsum molestias? Blanditiis, hic.</p>
    <p>Cupiditate, iste perferendis! Aliquid, ratione, sunt! Architecto beatae, dignissimos nulla perspiciatis
        praesentium velit. A dignissimos quibusdam rem suscipit tempore? Aspernatur deleniti nesciunt quod. Assumenda
        cumque facilis in iusto quam, quo?</p>

{% endblock %}