{% extends 'base.html' %}

{% block content %}
{% include 'includes/navbar.html' %}

    <div class="container">
        <h1 class="display-5 font-weight-bold" style="background-color: #bad4c0">Terms and Conditions</h1>
        <h4 style="color: #124f0d">Introduction</h4>
        <p>This page tells you the terms and conditions used throughout our website. These terms are a legal agreement
            between you and the ForestForLife group (referred as "us", "we", "our" in this document). It will not take
            long so please read through the terms and conditions so everything is clear and there are no misunderstandings
            later and if you do not agree with our terms please refrain from using our site. Thank you for reading this.</p>
        <h4 style="color: #124f0d">Information about us</h4>
        <p>This site is run and operated by "Group 22" the creators of ForestForLife and the creators of Sonny's Game.
            If you need to contact us you can message us through the website or through our instagram, facebook or
            twitter. Our group formed and mainly works from Newcastle University, Newcastle upon Tyne, UK. Since we are
            a new group we do not currently have an office we all work from, so we currently can not accept mail or give
            you an exact address we reside in.</p>
        <h4 style="color: #124f0d">Data protection policy</h4>
       <p>All personal information you provide us will be treated confidentially and will not be shared with any third
           party. We will track user activity on our site for safety however we will not share this information with any
           third party unless legally required to do so. If you choose to register to our site your email and password
           will be securely saved, and we hold the right to ban or remove any user from our site. If you choose to donate
           to our cause through our "donate now" page your card details will not be saved as to not risk potential
           attacks for such information.</p>
        <h4 style="color: #124f0d">Intellectual property rights</h4>
        <p>We are the legal owners of the ForestForLife website and Sonny's game. You can take screenshots or print
            copies of our game or website, but you can not use said documents for profit or market it as your own. If it
            is discovered that any user misused our created content depending on the severity we have the right to take
            legal action against you. The pictures on our website are free to use images from the internet, and we do not
            have the legal ownership of them. The articles we link in the explore page belong to their respective sites
            and as of now we do not have any legal associations with the companies, and we only link the articles
            related to our cause.</p>
        <h4 style="color: #124f0d">Our liability</h4>
        <p>We are determined to be open about our goals and operations with all of our users and investors. If there has
            been an attack on our website or some information has been lost/ stolen we are legally obliged to contact the
            individuals/ companies involved. If there is something wrong with the donation page, depending on the
            circumstances we will provide a partial/ full refund. We are not liable for any user information leaks or
            compensations if it happened because of the user's negligence and not ours.</p>
        <h4 style="color: #124f0d">Your concerns and questions</h4>
        <p>If you have and questions regarding any information included in this page please contact us through our
        "contact us" page or our social media. We will help as much as we can.</p>
        <br>
        <p style="color: #3a5d35">These terms were last updated on <u>12<sup>th</sup> of January, 2022</u></p>
    </div>

{% endblock %}