
.MeetTheTeam {
    padding-left: 20%;
    padding-right: 20%;
}

#MeetTeamCarouselCaptions .carousel-item {
    height: 65vh;
    background: #000;
    color: #F9F3F4;
    position: relative;
}

#MeetTeamCarouselCaptions .carousel-item .carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}

#MeetTeamCarouselCaptions .overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: url("/static/forestforlife/img/climate_change.8c18d94139b5.jpg") center;
    background-size: cover;
    opacity: 0.5;
}

#MeetTeamCarouselCaptions .overlay-imageE {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: url("/static/forestforlife/img/Evita.f5f3d5c82026.jpg") center;
    background-size: cover;
    opacity: 0.5;
}

#MeetTeamCarouselCaptions .overlay-imageA {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: url("/static/forestforlife/img/Alfie.ab1978a3bfb3.jpg") center;
    background-size: cover;
    opacity: 0.5;
}

